<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>The Purpose Built Group LLC, doing business as Allouve, is a black-owned, limited liability corporation, originally founded in 2015, with a mission to serve purpose-driven organizations that are working to better humanity. Allouve provides strategic and technical services and support to public, non-profit, and private sector companies focusing on equity.</p>
      </div>
    </div>
    <hr class="star-primary">
    <div class="row">
      <div class="col-md-6">
        <img src="img/brandon.png" alt="Brandon Rapp" class="about-image img-fluid">
      </div>
      <div class="col-md-6">
          <h3>Brandon Rapp</h3>
          <p>Brandon Rapp is a seasoned consultant and project manager with extensive experience in leading data systems projects for public, private, and non-profit clients. His expertise lies in driving the strategic development and operational execution of data infrastructure initiatives. Brandon's current data advisory role with a national non-profit showcases his ability to manage and evaluate complex data migrations and implement enterprise-level analytics solutions. Prior to Allouve, Brandon worked with WIOA and youth programs as a strategic consultant and advisor and was a former high school educator.</p>
      </div>
    </div>
  </div>
</section>
